<h2>Touch typing</h2>

<h3>{{model.title}}</h3>
<h4>{{model.subtitle}}</h4>

{{activity-errors-viewer activity=model}}
{{activity-completed activity=model}}
{{activity-script-viewer activity=model}}
{{activity-error-counter activity=model}}

{{outlet}}
