<h2>Touch typing</h2>

{{activity-errors-viewer activity=model}}
{{activity-completed activity=model}}
{{activity-script-viewer activity=model}}
{{activity-error-counter activity=model}}

{{blureable-button action="restart" text="Restart activity"}}

{{outlet}}