<h2>Touch typing</h2>

{{activity-errors-viewer activity=model}}
{{activity-completed activity=model}}
{{activity-script-viewer activity=model}}
<button class='btn-restart' {{action 'restart'}}>Restart activity</button>
{{outlet}}